<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <app-logo></app-logo>
    <h2>Bienvenidos a Smart Dresser</h2>
    <p>Anticipa lo que usarás para vestir.<br>En cada salida guarda en favoritos tus conjuntos y anticípate antes de salir.</p>
  </ion-slide>
  <ion-slide>
    <img src="assets/images/img-desorden.png" alt="Smart Dresser proyecto logo">
    <h2>Dile adiós al desorden y al estrés de amontonar ropa.</h2>
    <p>Deja de amontonar ropa que no terminarás usando y mantén el orden.</p>
  </ion-slide>
  <ion-slide>
    <img src="assets/images/img-tiempo.png" alt="Smart Dresser proyecto logo">
    <h2>Ahora tiempo y gastalo en lo que importa.</h2>
    <p>Combina las prendas rápidamente y sin ponértelas para ahorrar tiempo en que ponerte.</p>
  </ion-slide>
</ion-slides>
